:root {
  --body-color: #ffffff;
  --blue-color: #12355b;
  --dark-purple: #420039;
  --crimson: #d72638;
  --orange-color: #ff570a;
}

body {
  background-color: var(--body-color);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.clipboard .header {
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.clipboard .header button {
    text-overflow: ellipsis !important;
  overflow-x: hidden !important;
  overflow-y: auto;
  white-space: nowrap !important;
  background-color: transparent;
  border: none;
  color: var(--body-color);
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 10px;
}


.clipboard .header button:hover {
  background-color: var(--crimson);
}

.sections-container .header {
  display: block;
}

.sections-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  background-color: var(--blue-color);
  color: var(--body-color);
}

.clipboard-section,
.default-clipboard {
  display: block;
}

.sections-container .top-header button {
  background-color: var(--crimson);
  color: var(--body-color);
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sections-container .top-header button:hover {
  background-color: var(--orange-color);
}

.sections-container .top-header input {
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}


.section-clipboard {
  margin-left: 300px;
}

.clipboar-container {
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  
}

.clipboar-container .header {
  background-color: var(--blue-color);
  padding: 5px;
  font-size: 25px;
  color: var(--body-color);
  text-align: center;
  border-radius: 10px;

}

.clipboar-container .body {
  padding: 10px;

}

.add-current-clipboard-container {
  width: 100%;
  text-align: center;
}

.add-current-clipboard {
  background-color: var(--blue-color);
  border-radius: 10px;
  color: var(--body-color);
  padding: 10px;
  width: 400px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.add-current-clipboard:hover {
  background-color: var(--crimson);
  transition: .3s;
}