:root {
  --body-color: #ffffff;
  --blue-color: #12355b;
  --dark-purple: #420039;
  --crimson: #d72638;
  --orange-color: #ff570a;
}

body {
  background-color: var(--body-color);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.clipboard .header {
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.clipboard .header h4 {
    text-overflow: ellipsis !important;
  overflow-x: hidden !important;
  overflow-y: auto;
  white-space: nowrap !important;
  padding: 10px;
  border-radius: 10px;
}

.clipboard .header h4:hover {
  background-color: var(--crimson);
}

.sections-container .header {
  display: block;
}

.sections-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--blue-color);
  color: var(--body-color);
}

.clipboard-section,
.default-clipboard {
  display: block;
}

.sections-container .top-header button {
  background-color: var(--crimson);
  color: var(--body-color);
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sections-container .top-header button:hover {
  background-color: var(--orange-color);
}

.sections-container .top-header input {
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
