{% extends 'base.html' %} {% block body %}

<div class="sections-container" id="sections-container">
  <div class="top-header">
    <div>
      <h1>Clipper</h1>
    </div>
    <input type="search" name="" id="" placeholder="Search" />
    <div>
      <button id="create-section">Add</button>
    </div>
    <div></div>
  </div>
  {% for section in sections %}
  <div class="created-clipboard clipboard">
    <div class="header">
      <button data-section="{{section.id}}" class="section-button">{{section.section}}</button>
    </div>
  </div>
  {% endfor %}
</div>
<div class="section-clipboard" id="section-clipboard">
  <div class="add-current-clipboard-container">
  <button class="section-button" id="add-clipboard-button">Add Current Clipboard</button>
  <button class="section-button" id="delete-section">Delete</button>
  </div>
  <div id="clipboards-container">
  {% for clipboard in clipboards %}
  <div class="clipboard-container" data-clipboard="{{clipboard.id}}">
    <div class="header">{{clipboard.key}}</div>
    <pre class="body">{{clipboard.value}}</pre>
    <div class="clipboard-actions">
    <button class="delete-button">Delete</button>
    <button class="copy-button">Copy</button>
    </div>
  </div>
  {% endfor %}
</div>

</div>
{% load static %}
<script  src="{% static 'scripts/add.js' %}"></script>
<script  src="{% static 'scripts/get.js' %}"></script>
<script type="module" src="{% static 'scripts/delete.js' %}"></script>
{% endblock %}
