{% extends 'base.html' %} {% block body %}

<div class="sections-container" id="sections-container">
  <div class="top-header">
    <div>
      <h1>Clipper</h1>
    </div>
    <input type="search" name="" id="" placeholder="Search" />
    <div>
      <button id="create-section">Add</button>
    </div>
    <div></div>
  </div>
  <div class="default-clipboard clipboard">
    <div class="header">
      <button>Clipboard</button>
    </div>
  </div>
  {% for section in sections %}
  <div class="created-clipboard clipboard">
    <div class="header">
      <button data-section="{{section.id}}">{{section.section}}</button>
    </div>
  </div>
  {% endfor %}
</div>
<div class="section-clipboard" id="section-clipboard">
  <div class="add-current-clipboard-container">
  <button class="add-current-clipboard" id="add-clipboard-button">Add Current Clipboard</button>
  </div>
  <div id="clipboards-container">
  {% for clipboard in clipboards %}
  <div class="clipboard-container" data-clipboard="{{clipboar.key}}">
    <div class="header">{{clipboard.key}}</div>
    <div class="body">{{clipboard.value}}</div>
  </div>
  {% endfor %}
</div>

</div>
{% load static %}
<script src="{% static 'scripts/add.js' %}"></script>
<script src="{% static 'scripts/get.js' %}"></script>
{% endblock %}
